// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog {

	padding-top: 10px;

	article{
		width: 98%;
		background: #EEE; //rgba(245,243,243,.9);
		margin: 20px auto;
		box-shadow: 0px 0px 4px #555;
		border-radius: 5px;

		header{

			padding:5px 5px 5px 0px;
			// margin-top:5px;
			height: 70px;
			display:block;

			h1{
				margin-bottom:10px;
				font-size: 30px;
				color: #555;
				text-align:right;
				margin-right: 20px;
				margin-top:10px;
			}	
			date{
				// float:right;
				position:relative;
				top: 55px;
				left: 583px;
				clear:both;
				margin-right: 20px;
				font-style:italic;
				font-size:12px;
				color: #999;
			}
			#type{
				float  : left;
				background  : #F20C0C;
				width  : 64px;
				height : 64px;
				border-radius: 0px 65px 65px 0px;
				box-shadow: 10px 1px 1px #333;
				margin-top:5px;	
			}		
		}
		hr {
			width: 70%;
			margin: 0 auto;
			background: #333;
			height:1px;
		}
		#post{
			margin: 0 auto;
			padding: 10px 20px;
		}
		#category{
			
		}
	
	}


}

#project {
	margin: 5px;
	padding: 5px;
	background: rgb(11,24,30);
	
	border-radius: 10px;
	box-shadow: 2px 2px 3px #333;

	overflow:auto;

	article {

		header {
		
			h1 {
				
			}
			
			img {
				float: left;
				clear:both;
				margin: 15px;
				width:  150px;
				height: 150px;
			}		
		}	
	}
}

/* ribbon style */

 .ribbon-wrapper {
	position: relative;
	border-bottom: 8px solid RGBA(1,1,1,0.3);
	border-top: px solid #ccc;
	-moz-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-bottom-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-moz-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
	-webkit-border-top-colors: rgba(0, 0, 0, 0.02) rgba(0, 0, 0, 0.04) rgba(0, 0, 0, 0.06) rgba(0, 0, 0, 0.08) rgba(0, 0, 0, 0.10) rgba(0, 0, 0, 0.12) rgba(0, 0, 0, 0.14) rgba(0, 0, 0, 0.16) rgba(0, 0, 0, 0.18) rgba(0, 0, 0, 0.20);
}
  .ribbon-front {
	background-color: #ccf;	height: 100%;
	width: 776px;
	position: relative;
	left:-21px;
	z-index: 2;
}

  .ribbon-front,
  .ribbon-back-left,
  .ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright,
  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-topright {
}

  .ribbon-edge-bottomleft,
  .ribbon-edge-bottomright {
	top: 80px;
}

  .ribbon-edge-topleft,
  .ribbon-edge-bottomleft {
	left: -20px;
	border-color: transparent #99c transparent transparent;
}

  .ribbon-edge-topleft {
	top: 0px;
	border-width: 0px 20px 0 0;
}
  .ribbon-edge-bottomleft {
	border-width: 0 20px 10px 0;
	top: 265px;
}

  .ribbon-edge-topright,
  .ribbon-edge-bottomright {
	left: 20px;
	border-color: transparent transparent transparent #99c;
}

  .ribbon-edge-topright {
	top: 0px;
	border-width: 0px 0 0 0px;
}
  .ribbon-edge-bottomright {
	border-width: 0 0 0px 0px;
}

  .ribbon-back-left {
	position: absolute;
	top: 10px;
	left: -10px;
	width: 10px;
	height: 80px;
	background-color: #ccf;	z-index: 0;
}

  .ribbon-back-right {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 80px;
		z-index: 0;
}
