// Place all the styles related to the index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#blog article div#post p img {

}

#project {
	article {
		margin: 5px;
		padding: 5px;
		background: #fff;
		border-radius: 10px;
		box-shadow: -0.5px 0.5px 4px #555 inset;
		overflow:auto;
		
		header {
		
			h1 {
				
			}
			
			img {
				float: left;
				clear:both;
				margin: 15px;
				width:  150px;
				height: 150px;
			}		
		}	
	}
}

#project-wrapper {
  margin:3px;
}
