// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects{
	padding-top:10px;
}

section #sort {
	margin: 20px 5px;
	padding: 5px;
	background: #fff;
	
	border-radius: 10px;
	box-shadow: 0.5px -0.5px 4px #555;

	overflow:auto;
}
a {
	color: #333;
	text-shadow: 1px 1px 1px #999;
}
a:hover {
	color: #666;
}
